body {
	color: #555;
	font-family: "Courier New", "monospace";
}

#page-wrapper {
	width: 840px;
	margin: 0 auto;
}

#content {
	float: left;
	width: 560px;
	padding-top: 18px;
	padding-right: 18px;
	border-bottom: solid 1px #ccc;
}

#nav {
	padding-top: 18px;
	float: right;
	width: 240px;
}

#header {
	border-bottom: solid 1px #ccc;
}

#footer {
	padding: 20px 0;
	clear: both;
	color: #999;
}

#info {
	margin-top: 18px;
	background: #eee;
	padding: 12px;
}

#date {
	font-weight: bold;
}

#address {
	margin-top: 1em;
}

#apis {
  margin-top: 1em;
}

p, table {
	margin-bottom: 1em;
}

table {
	margin-left: 20px;
}

td {
	padding-right: 20px;
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
	font-weight: bold;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

strong {
  font-weight: bold;
}

.logo {
  width: 300px;
}

#api-list li {
  /*margin: 12px;*/
  margin: 12px 0;
}

#api-list img {
  width: 180px;
}

.day {
	color: #222;
	font-size: 1.1em;
}

a {
	text-decoration: none;
	color: #8bf;
}

a:hover {
	text-decoration: underline;
	color: #f90;
}

#pastEvents {
	margin-top: 1em;
}